/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.main {
  width: 368px;
  margin: 0 auto;
}
.main :global .ant-form-item {
  margin-bottom: 24px;
}
.main h3 {
  font-size: 16px;
  margin-bottom: 20px;
}
.main .mobileGroup :global .ant-form-item {
  margin-bottom: 0;
  vertical-align: top;
}
.main .mobileGroup :global .ant-form-item:first-child .ant-select-selection {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.main .mobileGroup :global .ant-form-item:last-child .ant-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.main .getCaptcha {
  display: block;
  width: 100%;
}
.main .submit {
  width: 50%;
}
.main .login {
  float: right;
  line-height: 40px;
}
.success,
.warning,
.error {
  transition: color .3s;
}
.success {
  color: #52c41a;
}
.warning {
  color: #faad14;
}
.error {
  color: #f5222d;
}
.progress-pass > .progress :global .ant-progress-bg {
  background-color: #faad14;
}
